
body{
    background-image: url(../netflix.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.8;
}
.items{
    margin-top: 20px;
    margin-bottom: 30px;
   
}

ul{
    float:left;
    margin-left:-60px;
    opacity: 50%;
}
ul#list li{
   
    display:inline;
    
}
li{padding: 20px ;}


.card{
    width: 400px;
    height:80%;
    background-color:black;
    color:white;
  margin:auto;

    padding: 50px;
    float: center;
    
    opacity: 0 px;
    
}
input[type=text]{
    width:100%;
    padding:20px 2px;
    border-radius: 5px;
    background-color: grey;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    word-spacing: 0%;
    opacity:50%;

    
   }
input[type=submit]{
    width:100%;
    padding:20px 2px;
    background-color:red;
    border-radius: 5px;
    color:white;
   
}
::placeholder{
    color: white;
    
   font-family:Arial, Helvetica, sans-serif;
    word-spacing: 0%;

   font-size: 20px;
   
color:thistle;

}
 a{
     text-decoration: none;
     color: white;
     
 }
a:visited{
    color:white;
}


.p1{
    /* float: inline-end; */
    color: white;
    opacity: 50%;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    word-spacing: 0%;
}
#sign{
    opacity: 100%;
}

.Learn{
    color: #0071eb;
    opacity: 100%;
}